body{
    background: #2C2A2A;
    margin: 0;
    padding: 0;
}

h1{
    text-align: left;
    padding-top: 5vh;
    background: #D9D9D9;
    margin-top: 0.5vh;
    font-size: 3em;
}

p{
    color: #BEB7B7;
    font-size: 3vw;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}

.left_pic{
    width: 300px;
    height: 300px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-right: 1px;
}

.right_pic{
    width: 300px;
    height: 300px;
}

/*
    Navigation style with flexbox.
*/

nav{
    padding: 2vw;
    display: flex;
    justify-content: flex-end;  
}

#list_nav{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

#list_nav li{
    padding: 0.3vw;
}

/*
    End navigation style
    Article style with flexbox
*/

#art_gen{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*
    Begin button style
*/
#art_gen button{
    font-size: 3vw;
    display: inline-block;
    width: 20vw;
    justify-content: center;
    align-self: center;
    margin-bottom: 7vh;
    background-color: inherit;
    border: none;
    color: rgb(182, 182, 182);
    font-family: 'Parisienne', cursive;
}

button:hover{
    text-shadow:  0 .7em .7em #000000 !important;
}

/*
    End button style
*/

#Picture_1 h2{
    display: flex;
    flex-direction: column;
    text-align: center;
}


#Picture_1 section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20vw;*/
}

.text_pic p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

/*
    End article style with flexbox
*/


a{
    color: black;
}

a:link{}

a:visited{
    color: black;
}

a:focus{}

a:hover{}

a:active{}


.logos{
    padding-top: 5em;
    width: 50px;
    height: 50px;
}
